@model OnlineShoppingSystem.Models.CategoryViewModel

@{
    ViewBag.Title = "AddCategory";
}
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
<h2>AddProduct</h2>
@using (Html.BeginForm("AddCategory", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table>
        @*<tr>
            <td>
                @Html.Label("Category Id")
            </td>
            <td>
                @Html.EditorFor(model => model.CategoryId )
            </td>
        </tr>*@
        <tr>
            <td>
                @Html.Label("Category Name")
            </td>
            <td>
                @Html.EditorFor(model => model.CategoryName )
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Back", "CategoryIndex")
            </td>
            <td>
                <input type="submit" />
            </td>
        </tr>
    </table>
}
