@model IEnumerable<OnlineShoppingSystem_Entity.ProductDetails>

    @{
        ViewBag.Title = "AdminIndex";
    }

    <h2>Product Details</h2>
    @Html.ActionLink("Add Product", "AddProduct")
    <table>
        <tr>
            <th>
                Product Id
            </th>
            <th>
                Product Name
            </th>
            <th>
                Product Price
            </th>
            <th>
                Stock
            </th>
            <th>
                Category Id
            </th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @product.productId
                </td>
                <td>
                    @product.productName
                </td>
                <td>
                    @product.productPrice
                </td>
                <td>
                    @product.productStock
                </td>
                <td>
                    @product.productCategoryId
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = product.productId })
                    @Html.ActionLink("Delete", "DeleteProduct", new { id = product.productId })
                </td>
            </tr>
        }


    </table>