@model OnlineShoppingSystem.Models.LoginModel

@{
    ViewBag.Title = "Login";
}


<h2>Login Page</h2>

@using (Html.BeginForm("Login", "SignIn", FormMethod.Post))
{
    <table>
        <tr>
            <td>@Html.Label("Username")</td>
            <td>
                @Html.EditorFor(Model => Model.username)
                @Html.ValidationMessageFor(Model=>Model.username,"",new { @style = "color:red" })
            </td>
        </tr>
        <tr>
            <td>@Html.Label("Password")</td>
            <td>
                @Html.EditorFor(Model => Model.password)
                @Html.ValidationMessageFor(Model => Model.password, "", new { @style = "color:red" })
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" id="backbtn" value="Back" />
            </td>
            <td>
                <input type="submit" id="LoginSubmit" value="Login" />
            </td>
        </tr>
    </table>
}



