@model OnlineShoppingSystem.Models.CustomerViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create Account</h2>


@using (Html.BeginForm("Create", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>
                @Html.Label("Name")
            </td>
            <td>
                @Html.EditorFor(Model => Model.CustomerName)
                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @style = "color:red" })
            </td>

        </tr>
        <tr>
            <td>
                @Html.Label("Mobile Number")
            </td>
            <td>
                @Html.EditorFor(Model => Model.CustomerMobile)
                @Html.ValidationMessageFor(Model => Model.CustomerMobile, "", new { @style = "color:red" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("E-Mail Address")
            </td>
            <td>
                @Html.EditorFor(Model => Model.CustomerEMail)
                @Html.ValidationMessageFor(Model => Model.CustomerEMail, "", new { @style = "color:red" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Password")
            </td>
            <td>
                @Html.PasswordFor(Model => Model.CustomerPassword)
                @Html.ValidationMessageFor(Model => Model.CustomerPassword, "", new { @style = "color:red" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Confirm Password")
            </td>
            <td>
                @Html.PasswordFor(Model => Model.ConfirmPassword)
                @Html.ValidationMessageFor(Model => Model.ConfirmPassword, "", new { @style = "color:red" })
            </td>
        </tr>
        @*<tr>
                <td>
                    @Html.Label("Gender")

                </td>
                <td>
                    Male
                    @Html.RadioButtonFor(model => model.gender, "Male")
                    Female
                    @Html.RadioButtonFor(model => model.gender, "Female")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("Category")

                </td>
                <td>
                    @Html.EnumDropDownListFor(model => model.category, "Select Category")
                </td>
            </tr>*@
        <tr>
            <td>
            </td>
            <td>
                <input type="submit" id="signupSubmit" />
            </td>
        </tr>
    </table>
}
