@model OnlineShoppingSystem.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<head>
    <link href="~/Design/OnlineShoppingDesign.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                <h2 class="loginheader">Login Page</h2>
                <table align="center" class="logintable">
                    <tr>
                        <td>@Html.Label("Username")</td>
                        <td>
                            @Html.EditorFor(Model => Model.Username, new { htmlAttributes = new { @class = "textbox" } })
                        </td>
                        <td>
                            @Html.ValidationMessageFor(Model => Model.Username, "", new { @style = "color:red" })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.Label("Password")</td>
                        <td>
                            @Html.EditorFor(Model => Model.Password, new { htmlAttributes = new { @class = "textbox" } })
                        </td>
                        <td>
                            @Html.ValidationMessageFor(Model => Model.Password, "", new { @style = "color:red" })
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" id="LoginSubmit" value="Login" class="button"/>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</body>