<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Design/OnlineShoppingDesign.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header">
        <div>
            <img src="~/Images/Screenshot (13).png" class="logo" />
        </div>
        <div>
            <h1>&nbsp;Tectiko Online Shopping</h1>
        </div>
    </div>
    <div>
        <div class="masterpage">
            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "spacing" })
            @*@Html.ActionLink("Login", "Login", "Account", null, new { @class = "spacing" })
            @Html.ActionLink("SignUp", "Create", "Account", null, new { @class = "spacing" })*@
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Profile", "Profile", "Account", null, new { @class = "spacing" })
                    @Html.ActionLink("Product", "Index", "Product", null, new { @class = "spacing" })
                }
                else
                {
                    @Html.ActionLink("Profile", "Profile", "Account", null, new { @class = "spacing" })
                }
                @Html.ActionLink("Logout", "LogOff", "Account", null, new { @class = "spacing" })

            }
            else
            {
                @Html.ActionLink("Login", "Login", "Account", null, new { @class = "spacing" })
                @Html.ActionLink("SignUp", "Create", "Account", null, new { @class = "spacing" })
            }
        </div>
    </div>
    <br />
    <br />
    <div>
        @RenderBody()
    </div>
</body>
</html>